.Main_dashboard {
  width: 100%;
}



.not_found_message {
  font-size: 5rem;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.delete_all_selected_btn_users {
  padding: var(--spacing-10) var(--spacing-09);
  background-color: var(--danger-main);
  color: var(--text-light);  
  border-radius: var(--spacing-11);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-11);
  position: relative;
  top: -60px;
  width: 120px;
  height: 50px;
  margin-left: 2rem;
  color:  rgb(119, 119, 185);
}

.delete_all_selected_btn_users:disabled,
.delete_all_selected_btn_users:disabled:hover,
.delete_all_selected_btn_users:disabled:focus,
.delete_all_selected_btn_users:disabled:active  {
  background-color: white;
  cursor: not-allowed;
  width: 120px;
  height: 50px;
  color:  rgb(119, 119, 185);
}

.delete_all_selected_btn_users > span {
  font-size: 2rem;
}

.delete_all_selected_btn_users:hover,
.delete_all_selected_btn_users:focus,
.delete_all_selected_btn_users:active {
  width: 120px;
  height: 50px;
  color: white;
  background-color: red;
}

